<section class="header flex align-center">
    <button class="btn btn-hamburger">
        <img class="svg hamburger-svg" src="../../../assets/svg/hamburger.svg" alt="">
    </button>
    <div class="logo flex align-center">
        <img class="img logo-img" src="../../../assets/img/logo.png" alt="">
        <h1 class="logo-text">Mr Keep.</h1>
    </div>
    <button routerLink="/search" routerLinkActive="active" class="btn btn-search">
        <img class="img search-img" src="" alt="">
        
    </button>
    <button class="btn btn-profile">
    </button>
</section>