<section class="note-add flex align-center justify-center">
    <div class="container container-note-add flex align-center">
        <input class="input input-note-add" type="text" placeholder="Take a note..." *ngIf="!addNoteTextToggle"
            (click)="onToggleAddNoteText()" />
        <div class="add-note-text" *ngIf="addNoteTextToggle">
            <section class="top flex ">
                <input class="title" type="text" placeholder="Title"/>
                <img class="svg svg-pin" src="../../../assets/svg/pin.svg" alt="">
            </section>
            <section class="middle">
                <div class="text" placeholder="Take a note..." autofocus contenteditable="true" datatext="Take a note..."></div>
            </section>
            <section class="bottom">
                <img class="svg svg-bell-plus" src="../../../assets/svg/bell-plus.svg" alt="">
                <img class="svg svg-color-pallete" src="../../../assets/svg/color-pallete.svg" alt="">
                <img class="svg svg-archive" src="../../../assets/svg/image.svg" alt="">
                <img class="svg svg-archive" src="../../../assets/svg/archive.svg" alt="">
                <img class="svg svg-three-dots-menu" src="../../../assets/svg/menu-three-dots.svg" alt="">
                <button class="btn btn-close">Close</button>
            </section>
        </div>
        <img class="svg svg-checkbox" src="../../../assets/svg/checkbox.svg" alt="" *ngIf="!addNoteTextToggle" />
        <!-- <img src="" alt=""> -->
        <img class="svg svg-image" src="../../../assets/svg/image.svg" alt="" *ngIf="!addNoteTextToggle" />
    </div>
</section>