<section class="note-preview">
    <section class="top">
        <button class="btn btn-select">
            <img src="" alt="">
        </button>
        <p>Title</p>
        <button class="btn btn-pin">
            <img src="" alt="">
        </button>
    </section>
    <section class="middle">
        <p>Text</p>
    </section>
    <section class="bottom">
        <button class="btn btn-reminder">
            <img src="" alt="">
        </button>
        <button class="btn btn-background">
            <img src="" alt="">
        </button>
        <button class="btn btn-image">
            <img src="" alt="">
        </button>
        <button class="btn btn-archive">
            <img src="" alt="">
        </button>
        <button class="btn btn-options">
            <img src="" alt="">
        </button>
    </section>
</section>